export(archeofrag.gui)

import(shiny)
import(foreach)
import(doParallel)
import(RBGL)
importFrom(dendextend, is.dendrogram)
importFrom(shinythemes, shinytheme)
importFrom(archeofrag, make_frag_object, make_cr_graph, frag.get.parameters, frag.get.layers.pair, frag.edges.weighting, frag.layers.cohesion, frag.layers.admixture, frag.simul.process, frag.simul.summarise, frag.graph.plot)
importFrom(utils, combn, packageVersion, data, read.csv)
importFrom(stats, as.dendrogram, as.dist, hclust, reshape)
importFrom(ggplot2, aes, theme_light, geom_density, scale_fill_grey, geom_vline, xlab, ggtitle, geom_boxplot, facet_wrap, scale_x_continuous)
importFrom(DT, renderDT, DTOutput)
importFrom(igraph, gorder, V, E, count_components, gsize,  "%--%") 

